extends layout

block content
    link(rel='stylesheet', href='/stylesheets/aboutus.css')
    
    .main-image(style="background-image: url('/images/home.jpg');")
        .main-title About Advanced Motor Control Ltd.
    
    .full(style="max-width: 1000px; margin-top: 10px;")
        .main-description Advanced Motor Control is New Zealand owned and operated. We specialize in industrial motor control. Our main focus is AC Induction motors using soft starters and Variable Frequency Drives.
        .main-description AMC was co-founded by Mark Empson and Howard Evans. Mark Empson is a co-founder of AuCom Electronics Ltd and one of the worlds pioneers of the soft startering industry. Howard Evans has years of experience in motor control and is well respected throughout the industry.
        .main-description Working very closely with industry and equipment manufacturers, AMC pride themselves in providing a quality package of product, education, support and service in the many different fields of motor control. AMC guarantee a working solution and will advise on the best technology to achieve that solution. This may involve soft starters and/or variable frequency drives, harmonic filters, power factor correction, PLCs, logic relays, GSM controls and other technologies.
            
            
    