extends layout

block content
    .main-image(style="background-image: url('/images/calculator.jpg');")
        .main-title AMC Calculator
    
    .full(style="max-width: 1000px; margin-top: 10px;")
        .main-description AMC Calculator is a software tool that is designed to help select the best matched product for any application.
        
    
