extends layout

block content
    
    .titlebar
        img.logo(src="images/logo_whitebg.jpg")
        .titlephone
            .glyphicon.glyphicon-earphone(style="font-size: 17px;") 
            a(href="tel:0508-000052" style="color:var(--blue);") &nbsp; 0508 000052
    
    .navbar
        .navbutton Home
        .navbutton Products
        .navbutton Seminars
        .navbutton Tech Links
        .navbutton AMC Calculator
        .navbutton Our People
        .navbutton Contact Us
