extends layout

block content
        
    .featured-container
        .featured-image(style="background-image: url('/images/our-people.jpg');")
            .featured-image-info 
                .featured-image-info-title Our People
                .featured-image-info-desc Advanced Motor Control is made up of a group of customer focused, technically competent, sales and support engineers who are well trained in all our products.
                .featured-image-info-button Read More
        
    .featured-container(style="height: 330px;")
    
        .featured-container-half
            .featured-image(style="background-image: url('/images/amc-seminar.jpg');")
                .featured-image-info-half 
                    .featured-image-info-title-half AMC Seminars
                    .featured-image-info-desc-half AMC presents training seminars and workshops on a variety of topics related to motor control and automation.
                    .featured-image-info-button-half Read More
                    
        .featured-container-half(style="left: auto; right: 0px;")
            .featured-image(style="background-image: url('/images/calculator.jpg');")
                .featured-image-info-half 
                    .featured-image-info-title-half AMC Calculator
                    .featured-image-info-desc-half AMC Calculator is a software tool that is designed to help select the best matched product for any application.
                    .featured-image-info-button-half Read More
