doctype html
html

  head
  
    title= "Advanced Motor Control Ltd."
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    
    .logobar
        img.logo(src="images/logo_whitebg.jpg")
        
        .logobar-company
            span Advanced Motor Control Ltd
            span.logobar-dot .
            
        .logobar-phone
            .glyphicon.glyphicon-earphone(style="font-size: 17px;") 
            a(href="tel:0508-000052" style="color:var(--blue);") &nbsp; 0508 000052
            
        a.logobar-linkedin(href="https://www.linkedin.com/company/advanced-motorcontrol-ltd/about/" target="_blank" style="color:var(--blue);")
            img.linkedin-image(src="/images/linkedin.png")
            span &nbsp; linkedin
    
    .navbar
        a.navbutton(id="/" href="/") Home
        .navbutton 
            span Products &nbsp;
            .glyphicon.glyphicon-triangle-bottom(style="font-size: 12px;")
        .navbutton Seminars
        .navbutton Technical Links
        .navbutton AMC Calculator
        a.navbutton(id="/aboutus" href="/aboutus") 
            span About Us &nbsp;
            .glyphicon.glyphicon-triangle-bottom(style="font-size: 12px;")
        .navbutton Contact Us
        
    script.
        if(window.location.pathname == "/ourpeople" || window.location.pathname == "/ourhistory")
            document.getElementById("/aboutus").className = document.getElementById("/aboutus").className + " selected"
        else
            document.getElementById(window.location.pathname).className = document.getElementById(window.location.pathname).className + " selected"
        
    .content
        block content
    
    .footer
        span.no-bs Your 
        span.no-bs(style="color: var(--green); font-weight: 600;") NO B.S. 
        span.no-bs Motor Control Specialists.
        br
        span.nzowned New Zealand owned and operated.
        br
        br
        span.terms Terms and Conditions
        span &nbsp;|&nbsp;
        span.privacy Privacy Policy
        br
        span.copyright © 2019 Advanced Motor Control Ltd.
        
        
        
        
        
        
        
        
        
        
        
        
        
