extends layout

block content
    link(rel='stylesheet', href='/stylesheets/ourpeople.css')
    
    .div(style="box-shadow: inset 0px -50px 50px rgba(0,0,0,0.7); padding-top: 20%; background-size: cover; background-position: 50% 20%; background-image: url('/images/our-people.jpg');")
    
        .full(style="max-width: 1000px; margin-top: 0px;")
            .main-title Our People
        
    
    .full(style="max-width: 1000px; margin-top: 10px;")
        .main-description Advanced Motor Control is made up of a group of customer focused, technically competent, sales and support engineers who are well trained in our products and passionate about ensuring a working solution that provides real value to the customer. We have very strong relationships with the equipment suppliers and designers overseas, and provide a high level of technical advice about the applications and equipment we support.
        
        
    .full
        .half
            .title NZ South Island
        .half
            .title(style="padding-left: 20px;") NZ North Island / Fiji / Pacific Islands
    
    
    .full(style="margin-top: 15px;")
        .half
            .photo(style="background-image: url('/images/staff/Mark.jpg');")
            .details 
                .name Mark Empson
                .position Director
                .position Technical Support
                .position Author of NO BS Guides
                br
                .phone 0274 363 067
                .email mark.empson@amcmail.nz
            br
            .description Ross has 7 years’ experience in electronic design & has worked in Automation Engineering Sales for 36 years for companies such as Neeco, Aucom, Industrial Automation Limited (Rockwell Distributor) & Danfoss Drives (Country Manager).
    
        .half(style="padding-left: 20px; padding-right: 0px;")
            .photo(style="background-image: url('/images/staff/Howard.jpg');")
            .details(style="left: 240px; right: 0px;")
                .name Howard Evans
                .position Director
                .position Technical Support
                .position North Island Sales
                br
                .phone 021 925 544
                .email howard.evans@amcmail.nz
            br
            .description Ross has 7 years’ experience in electronic design & has worked in Automation Engineering Sales for 36 years for companies such as Neeco, Aucom, Industrial Automation Limited (Rockwell Distributor) & Danfoss Drives (Country Manager).
    
    
    .full
        .half
            .photo(style="background-image: url('/images/staff/Wayne.jpg');")
            .details 
                .name Wayne Garraway
                .position Sales Manager
                br
                .phone 021 994 311
                .email wayne.garraway@amcmail.nz
            br
            .description Ross has 7 years’ experience in electronic design & has worked in Automation Engineering Sales for 36 years for companies such as Neeco, Aucom, Industrial Automation Limited (Rockwell Distributor) & Danfoss Drives (Country Manager).
            
        .half(style="padding-left: 20px;")
            .photo(style="background-image: url('/images/staff/Ross.jpg');")
            .details(style="left: 240px; right: 0px;")
                .name Ross Remnant
                .position Technical Support
                .position Lower North Island Sales
                br
                .phone 021 174 1439
                .email ross.remnant@amcmail.nz
            br
            .description Ross has 7 years’ experience in electronic design & has worked in Automation Engineering Sales for 36 years for companies such as Neeco, Aucom, Industrial Automation Limited (Rockwell Distributor) & Danfoss Drives (Country Manager).
            
              
    .full
        .half
            .photo(style="background-image: url('/images/staff/John.jpg');")
            .details 
                .name John Graham
                .position South Island Sales
                .position Danfoss Specialist
                br
                .phone 027 477 9129
                .email john.graham@amcmail.nz
            br
            .description Ross has 7 years’ experience in electronic design & has worked in Automation Engineering Sales for 36 years for companies such as Neeco, Aucom, Industrial Automation Limited (Rockwell Distributor) & Danfoss Drives (Country Manager).
            
        .half(style="padding-left: 20px;")
            .photo(style="background-image: url('/images/staff/Colin.jpg');")
            .details(style="left: 240px; right: 0px;")
                .name Colin Meaden
                .position North Island Sales
                .position Danfoss Specialist
                br
                .phone 021 868 936
                .email colin.meaden@amcmail.nz
            br
            .description Ross has 7 years’ experience in electronic design & has worked in Automation Engineering Sales for 36 years for companies such as Neeco, Aucom, Industrial Automation Limited (Rockwell Distributor) & Danfoss Drives (Country Manager).
            
            
    .full
        .half
            .photo(style="background-image: url('/images/staff/Bron.jpg');")
            .details 
                .name Bron Hyder
                .position Tech Support and Service
                br
                .phone 0275 432 129
                .email bron.hyder@amcmail.nz
            br
            .description Ross has 7 years’ experience in electronic design & has worked in Automation Engineering Sales for 36 years for companies such as Neeco, Aucom, Industrial Automation Limited (Rockwell Distributor) & Danfoss Drives (Country Manager).
            
                
    .full
        .half
            .photo(style="background-image: url('/images/staff/Dianne.jpg');")
            .details 
                .name Dianne Egerton
                .position Administration
                br
                .phone 03 341 1285
                .email dianne.egerton@amcmail.nz
            br
            .description Ross has 7 years’ experience in electronic design & has worked in Automation Engineering Sales for 36 years for companies such as Neeco, Aucom, Industrial Automation Limited (Rockwell Distributor) & Danfoss Drives (Country Manager).
            
            
            
            
            
            
            
            
            
            
            
            
            