.full {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1200px;
    overflow: auto;
}

.half {
    float: left;
    position: relative;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.aboutus-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
}

.aboutus-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: auto;
}

.aboutus-image {
    margin-top: 13px;
    padding-top: 56.25%;
    background-image: url("/images/home.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 5px #888;
}