


.title {
    font-size: 24px;
    font-weight: bold;
}

.photo {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #ddd;
    background-size: cover;
    background-position: center;
} 

.details {
    position: absolute;
    top: 20px;
    left: 220px;
    right: 20px;
    height: 200px;
    padding-top: 5px;
}

.name {
    font-size: 17px;
    font-weight: bold;
}

.position, .phone, .email {
    margin-left: 10px;
    font-size: 15px;
}

.description {
    padding-top: 10px;
}