.full {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1000px;
    overflow: auto;
}

.half {
    float: left;
    position: relative;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.main-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}

.main-description {
    margin-top: 5px;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.photo {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #ddd;
    background-size: cover;
    background-position: center;
} 

.details {
    position: absolute;
    top: 20px;
    left: 220px;
    right: 20px;
    height: 200px;
    padding-top: 5px;
}

.name {
    font-size: 17px;
    font-weight: bold;
}

.position, .phone, .email {
    margin-left: 10px;
    font-size: 15px;
}

.description {
    padding-top: 10px;
}