:root {
    --blue: #314360;
    --green: #79B43C;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Arial";
}

.content {
    min-height: 50vh;
    position: relative;
    z-index: 1;
}

/* unvisited link */
a:link {
    color: var(--blue);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: var(--blue);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: var(--blue);
    text-decoration: none;
}

/* selected link */
a:active {
    color: var(--blue);
    text-decoration: none;
}


/* LOGOBAR */

.logobar {
    position: relative;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
}

.logobar-company {
    position: absolute;
    top: 30px;
    right: 0px;
    color: var(--blue);
    
    font-size: 20px;
    font-weight: bold;
}

.logobar-dot {
    font-size: 20px;
    font-weight: bold;
    color: var(--green);
}

.logobar-phone {
    position: absolute;
    top: 63px;
    right: 4px;
    color: var(--blue);
    font-size: 20px;
    transition: transform .2s;
}

.logobar-linkedin {
    position: absolute;
    bottom: 20px;
    right: 4px;
    color: var(--blue);
    font-size: 20px;
    transition: transform .2s;
}

.logobar-linkedin:hover, .logobar-phone:hover {
    transform: translate(0px,-2px);
}

.linkedin-image {
    display: inline-block;
    width: 16px;
    margin-bottom: 5px;
}

.logo {
    width: 240px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
}


/* NAVBAR */

.navbar {
    text-align: center;
    background: var(--blue);
    border-radius: 0px;
    margin: 0;
    margin-top: 5px;
    position: relative;
    z-index: 10;
}

.navbutton {
    display: inline-block;
    position: relative;
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    color: white !important;
    
    font-size: 18px;
    font-weight: bold;
    
    transition: transform .2s;
}

.navbutton:hover {
    transform: translate(0px,-2px);
}

.navbutton.selected {
    color: var(--green) !important;
}

.navbutton-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background: var(--blue);
    text-align: left;
    padding-bottom: 8px;
}

.navbutton-dropdown-button {
    display: inline-block;
    padding: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    color: white !important;
    
    font-size: 16px;
    
    transition: transform .2s;
    white-space: nowrap;
}

.navbutton-dropdown-button:hover {
    transform: translate(0px,-2px);
}


/* FOOTER */

.footer {
    margin-top: 50px;
    background: var(--blue);
    color: white;
    text-align: center;
    padding-bottom: 24px;
}

.no-bs {
    font-size: 18px;
}

.nzowned {
    font-size: 14px;
}

.copyright {
    font-size: 14px;
} 

.terms, .privacy {
    font-size: 14px;
    cursor: pointer;
    transition: transform .2s;
    display: inline-block;
    text-decoration: underline;
}

.terms:hover, .privacy:hover {
    transform: translate(0px, -2px);
}


/* CONTENT */

.full {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1000px;
    overflow: auto;
}

.half {
    float: left;
    position: relative;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.main-image {
    box-shadow: inset 0px -50px 50px rgba(0,0,0,0.7); 
    padding-top: 20%; 
    background-size: cover; 
    background-position: 50% 20%; 
}

.main-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}

.main-description {
    margin-top: 5px;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}




 